@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
	font-size: 100%;
	background-color: #b8b8b8;
}

h1, h2 {
	font-family: 'Oswald' sans-serif;
	text-transform: uppercase;
}

h3, p, a, li {
	font-family: 'Crimson Text', serif;	
	font-weight: 400;
}

h1, h2, h3, a {
	line-height: 1.75em;
}

h3, a, li {
	font-style: italic;
}

h2, a {
	font-size: 1.125em;
}

h1 {
	font-weight: 300;
	font-size: 3em;
	letter-spacing: .1em;
}

h2 {
	font-weight: 400;
	letter-spacing: .26em;
}

h3 {
	font-size: 1.25em;
	letter-spacing: .02em;
}

p {
	font-size: .85em;
	letter-spacing: .05em;
	line-height: 1.47em;
	width: 50%;
}

a {
	letter-spacing: .04em;
	text-decoration: none;
}

ul {
	list-style: none;
}

li {
	font-size: .85em;
	letter-spacing: .2em;
	line-height: 2.8em;
	text-transform: uppercase;
}
